<html>
  <p>Choose your opponent:</p>
  <form action="/make_move" method="POST">
    <input type="radio" name="opponent" value="human" checked="checked">Human
    <br>
    <input type="radio" name="opponent" value="computer">Computer
  <br>
  <p>Choose the size of board to play on:</p>
    <input type="radio" name="board_size" value="3" checked="checked">3x3
    <br>
    <input type="radio" name="board_size" value="4">4x4
  <br>
  <p>Select your marker:</p>
    <input type="radio" name="marker" value="X" checked="checked">'X'
    <br>
    <input type="radio" name="marker" value="O">'O'
    <input type="submit">
  </form>
</html>