<html>
  <head>
      <meta charset="utf-8" />
      <title>Tic Tac Toe demonstration</title>
      <link rel="stylesheet" type="text/css" href="tictac.css" />
  </head>
  
  <body id="home">
    <h1>Tic Tac Toe</h1>
    <form action="/make_move" method="POST">
      <table id="tictac">
        <tbody>
          <tr>
            <td id="cell0">
              <input type="radio" name="square_1" value="1" checked="checked">
            </td>
            <td id="cell1">
              <input type="radio" name="square_2" value="2">      
            </td>
            <td id="cell2">
              <input type="radio" name="square_3" value="3">      
            </td>
          </tr>
          <tr>
            <td id="cell3">
              <input type="radio" name="square_4" value="4">      
            </td>
            <td id="cell4">
              <input type="radio" name="square_5" value="5">      
            </td>
            <td id="cell5">
              <input type="radio" name="square_6" value="6">      
            </td>
          </tr>
          <tr>
            <td id="cell6">
              <input type="radio" name="square_7" value="7">      
            </td>
            <td id="cell7">
              <input type="radio" name="square_8" value="8">      
            </td>
            <td id="cell8">
              <input type="radio" name="square_9" value="9">      
            </td>
          </tr>
        </tbody>
      </table>
      <input type="submit">
    </form>
  </body>
</html>
