<html>
  <head>
      <meta charset="utf-8" />
      <title>Tic Tac Toe</title>
      <link rel="stylesheet" type="text/css" href="tictac.css" />
  </head>
  
  <body id="home">
    <div>
      <h1>Tic Tac Toe</h1>
      <h1><%= @end_of_game_message %></h1>
      <form action="/play_game" method="POST">
        <table id="tictac">
          <tbody>
            <% @board.rows.each do |row| %>
            <tr>
              <% row.each_with_index do |square, index|%>
                <td id=<%="cell#{index}"%>>
                  <form action="/play_game" method="POST">
                    <input type="submit" name="square" value=<%="#{square}"%>>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </form>
    </div>
    <form action="/config" method="GET">
      <input type="submit" name="reset" value="reset">
    </form>
  </body>
</html>
